.tumb {
  height: 400px;
  width: 300px;

  background-color: #00ffff;
}

.tumb > img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: contain;
  object-position: left bottom;
}

/* gradient */
.title {
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;

  background-image: repeating-radial-gradient(
    circle,
    purple,
    purple 10px,
    #4b026f 10px,
    #4b026f 20px
  );
}

.gradient {
  margin-top: 50px;
  width: 500px;
  height: 250px;

  background-image: linear-gradient(
    to right,
    #f44336 15%,
    #09792b 40%,
    #00b9ff 65%,
    #ffb800
  );
}

/* radial */
.radial {
  margin-top: 50px;
  width: 500px;
  height: 250px;

  background-image: radial-gradient(
    /* circle at center, */ #f44336,
    #09792b,
    #00b9ff
  );
}

/* repeating */
.repeating {
  margin-top: 50px;
  width: 500px;
  height: 250px;

  background-image: repeating-linear-gradient(
    /* to left, */ /* to bottom, */ /* to top right, */ /* to bottom right, */
      blue,
    blue 20px,
    red 20px,
    red 40px
  );
}

.repeating {
  margin-top: 50px;
  width: 500px;
  height: 250px;

  background-image: repeating-radial-gradient(
    circle at center,
    blue,
    blue 20px,
    red 20px,
    red 40px
  );
}

/* тінь */
.list-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.list-box > .item {
  flex-basis: calc((100% - 30px) / 2);
  width: 100px;
  display: block;

  background-color: #e1d8d8;
  padding: 10px;
  box-sizing: border-box;

  /* тінь рдношарова втиснута*/
  /* box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3); */

  /* тінь багатошароша */
  /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12); */

  /* тінь багатошарова різних кольорів */
  box-shadow: 0 2.8px 2.2px red, 0 6.7px 5.3px blue, 0 12.5px 10px green,
    0 22.3px 17.9px purple, 0 41.8px 33.4px orange, 0 100px 80px teal;
}
